.quizContainer {
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.quizQuestion {
  padding-bottom: 1em;
  margin-bottom: 1.25em;
  border: none;
  border-bottom: var(--question-dividing-border);
}

.answerContainer {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.title {
  font-weight: 600;
  margin-bottom: 0.75em;
}

.labelInput {
  font-size: 0.625rem;
  padding: 0.5em 1em;
  border: var(--unselected-border-styling);
  margin-right: 1em;
  white-space: nowrap;
  border-radius: var(--question-border-radius);
}

.labelInput:hover {
  cursor: pointer;
}

.labelInput:has(.radioInput:checked) {
  background-color: var(--selected-btn-color);
  border: none;
}

.labelInput.correct,
.labelInput:has(.radioInput:checked).correct {
  background-color: var(--correct-answer-bg-color);
}

.labelInput:has(.radioInput:checked).wrong {
  background-color: var(--wrong-answer-bg-color);
}

.radioInput {
  display: none;
}

.btnContainer {
  display: flex;
  justify-content: center;
}
